* {
  padding:0;
  margin:0
}
#map-canvas {
  position:fixed !important;
  top:0;
  left:0;
}
.info {
  padding: 10px 20px;
  font-size: 1.05em;
}
.info:after {
  content: " ";
  display:table;
  clear: both;
}
.superButton {
  color: #fff;
  font-size: 1.5em;
  padding: 5px 20px;
  margin:10px 20px;
  border: 0;
  border-radius: 5pt;
  display:block;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.good { background-color: #80C54B; }
.bad { background-color: #ff6161; }
.neutral { background-color: #b0b0b0; }
.save { background-color: #70d2ff; }

#calcCenter { margin-top: 2em;}
#saveCalc { margin-bottom: 2em; }
