body {
  font-family:"Helvetica", arial, sans-serif;
}


html, body {
  height:100%;
}

#content-map-canvas {
}

#content {
  background-color: rgba(255, 255, 255 , 1);
}

.main-menu .btn-group>.btn-lg, .title-bar .btn-group>.btn-lg {
  border-radius: 0px !important;
  border: none;
  height:50px;
}

.main-menu {
  height: 50px;
  border-top: 1px solid rgba(221, 221, 221, 1);
}

.inverse {
  background-color: rgba(21, 21, 21, 1);
  color: rgba(221, 221, 221, 1);
}
.inverse a, .inverse a:link, .inverse a:visited {
  color :rgba(52, 152, 219, 1);
}
.inverse .list-group-item {
  background-color: rgba(48, 48, 48, 1);
  border: 1px solid rgba(70, 69, 69, 1);
}

.inverse .btn-group-vertical {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.inverse .btn {
  background-color: rgba(48, 48, 48, 1);
  border: 1px solid rgba(70, 69, 69, 1);
  color: rgba(221, 221, 221, 1);
  width: 100%;
}

.inverse .btn:hover {
  background-color: rgba(44, 44, 44, 1);
  border: 1px solid rgba(39, 39, 39, 1);
}

.inverse .btn:active, .inverse.btn:focus {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.nameless, .nameless:link, .nameless:visited {
  color : rgba(221, 221, 221, 1);
  text-decoration: none;
}

.nameless:hover {
  text-decoration: none;
  color: rgba(221, 221, 221, 1);
}

.settings {
  width: 266px;
}

.settings p {
  text-align: center;
  font-size: small;
  color: rgba(91, 91, 91, 1);
}

.settings h3 {
  padding-bottom: 10px;
  margin-bottom: 1.25em;
  border-bottom: 1px solid rgba(131, 131, 131, 1);
}

.title-bar {
  /*height:50px;*/
  border-bottom: 1px solid rgba( 221, 221, 221, 1 );
}
.title-bar:after {
  content:"";
  display:table;
  clear:both;
}



.hide { display: none;}
.info {
  padding: 10px 20px;
  font-size: 1.05em;
}
.info:after {
  content: " ";
  display:table;
  clear: both;
}
.sBtn {
  color: #fff;
  font-size: 1em;
  padding: 5px 20px;
  margin:10px auto;
  border: 0;
  border-radius: 5pt;
  display:block;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.iBtn {
  margin: 0px auto;
}

.good { background-color: #80C54B; }
.bad { background-color: #ff6161; }
.neutral { background-color: #b0b0b0; }
.dflt {
  width: 100%;
  font-size:1.25em;
  background-color: #70d2ff; 
}

.glyphicon-floppy-remove { color: #ff6161; }
.glyphicon-floppy-save { color: #70d2ff; }
.glyphicon-floppy-saved { color: #80C54B; }
.center { text-align: center; }

#settings-toggle {
  margin-top: 10px;
  margin-left: 15px;
  float:left;
}
#hawkID-display {
  /*font-size:1.5em;*/
  float:right; 
  /*margin:10px;*/
  margin-top: 10px;
  margin-right: 15px;
}

#settings-menu { 
  position: absolute;
  top: 60px;
  right: 3%;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(171,171,171,1);
  box-shadow: 0px 0px 5px 2px rgba(171,171,171,1);
  padding: 10px;
  border-radius: 5pt;
  z-index:1337;
}
#settings-menu table {
  border-collapse: separate;
  border-spacing: 10px 2px;
}

#settings-menu:before, #settings-menu:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border: 10px solid transparent;
}
#settings-menu:before {
  z-index: 1337;
  border-bottom-color: rgba(171,171,171,1);
  position: absolute;
  top: -20px;
  right: 20px;
}
#settings-menu:after {
  z-index: 1338;
  border-bottom-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: -19px;
  right: 20px;
}

#calcCenter { margin-top: 2em;}
#saveCalc { margin-bottom: 2em; }

.modal {
  background-color: rgba(0, 0, 0, 0.55);
}

select {
  display:block;
  margin: 0 auto;
}

.driver-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
}

.driver-div {
  text-align: center;
  float:left;
  width: 33.3333333333%;
  margin:0px 0px;
  /*background-color: rgba(235, 235, 235, 1);*/
  font-size: 20px;
  padding: 10px 0px;
}

.driver-div:after {
  content: "";
  display:table;
  clear:both;
}

.left { float:left; }
.right { float:right; }

.highlight {
  color: rgba(0, 157, 255, 1);
}

.mode-menu {
  z-index: 1337;
  border-radius: 5pt;
  box-shadow: 0px 0px 5px 2px rgba(171,171,171,1);
  padding: 10px;
  position: absolute;
  right: 3%;
  bottom: 60px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(171,171,171,1);
}

.mode-menu:before, .mode-menu:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border: 10px solid transparent;
}
.mode-menu:before {
  z-index: 1337;
  border-top-color: rgba(171,171,171,1);
  position: absolute;
  bottom: -20px;
  right: 20px;
}
.mode-menu:after {
  z-index: 1338;
  border-top-color: #fff;
  position: absolute;
  bottom: -19px;
  right: 20px;
}


/* From http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(22px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(22px) translateY(22px) rotate(-179deg);
    -webkit-transform: translateX(22px) translateY(22px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(22px) translateY(22px) rotate(-180deg);
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}